@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu');
body{
	
    font-family: 'Ubuntu', sans-serif !important;
}
.parallax { 
    /* The image used */
    background-image: url("../img/fondocontacto2.jpg");
    padding: 0px;

    /* Set a specific height */
    /*height: 500px;*/ 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxheader { 
    /* The image used */
    background-image: url("../img/image.jpg");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.desc{
	padding: 0%;
    /*background-color: #0A6CCE;*/
    margin-top: 100px;
    margin-bottom: 100px;

}
.espacioshadow {
    padding-top: 10px;
    padding-bottom: 10px;
}
.shadow {
    -webkit-box-shadow: 0px 1px 0px 0px rgba(1,85,170,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(1,85,170,1);
    box-shadow: 0px 1px 0px 0px rgba(1,85,170,1);
}
.textcenter {
    text-align: center;
}
.textjustify {
    text-align: justify;
}
.textpadding {
    padding-left: 10px;
}
.textwhite {
    color: white;
}

.tituformulario {
    background-color: #0A6CCE;
}
.formulario {
    background-color: #fff;
}
.formularioboton {
    background-color: #fff;
}
.espaciop {
    margin-bottom: 20px;
    margin-top: -70px;
}
.decor:after {
    display: block;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    content: '';
}

.espaciotitum {
    padding-bottom: 40px;
    padding-top: 40px;
}
.btns {
    display: inline-block;
    padding: 15px 25px 15px 25px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0A6CCE;
    color: white;
    border: 1px solid transparent;

}

.btns:hover {
    
    background-color: #024CA0;
}

.espacioform {
    padding-top: 30px;

}
